<h2 class="title">
  <%= @post.comments.count %>
  Comments
</h2>
<% @post.comments.each do |comment| %>
  <div class="comment_wraper">
    <div id="comment">
      <h4 class="name"> <%= comment.name %> </h4>
      <p class="body"> <%= comment.body %> </p>
      <p class="time_ago"> Created about <%= time_ago_in_words(comment.created_at)%> ago </p>
    </div>
    <%= button_to 'Delete',[@post, comment], method: :delete, data: {confirm: 'Are you sure?'}, class: "btn"%>
  </div>
<% end  %>